<head>
  <title>
    <%- title %> | Mini-Shop
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

  <link rel="stylesheet" href="/client/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/client/css/animate.css">

  <link rel="stylesheet" href="/client/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/client/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/client/css/magnific-popup.css">

  <link rel="stylesheet" href="/client/css/aos.css">

  <link rel="stylesheet" href="/client/css/ionicons.min.css">

  <link rel="stylesheet" href="/client/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/client/css/jquery.timepicker.css">


  <link rel="stylesheet" href="/client/css/flaticon.css">
  <link rel="stylesheet" href="/client/css/icomoon.css">
  <link rel="stylesheet" href="/client/css/style.css">
</head>